.socials {
  text-align: center;
  margin-top: 18%;
}

.socials > * {
  margin: 0% 8% 0% 8%;
  color: white;
}

.socials > *:hover {
  color: rgb(151, 197, 170);
}

#video-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -99;
}

#video-bg > iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#video-bg .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  background: grey;
  opacity: 0.45;
}
